a.btn {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
  border-radius: 500px;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  padding: 0.375rem 0.75rem;
}
a.btn.signup-button {
  background: #00a36c;
  color: #fff !important;
}
a.btn.cart-button {
  background: #fff;
  color: #212529 !important;
}
