body {
  font-family: "Raleway", sans-serif;
  letter-spacing: normal;
  font-size: initial;
  line-height: initial;
  color: #212529;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
label {
  font-weight: 400;
}
.btn {
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: 400;
}

.rating span {
  margin: 0.1rem;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/* HEADER */
.navbar {
  background: #f8f9fa;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

.navbar-brand-custom {
  font-size: 2.25rem;
  color: #00a36c;
  text-transform: initial;
  margin-right: 1rem;
}
.navbar-brand-custom .fas.fa-seedling {
  margin-left: 0.5rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.375rem 0.75rem !important;
  }
}

/* SIGN UP AND SIGN IN FORMS */
.sign-up-form,
.sign-in-form {
  margin-top: 50px;
}

.sign-up-form .btn-primary,
.sign-in-form .btn-primary {
  width: 100%;
  background-color: #00a36c;
}
