main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/* HEADER */
.navbar {
  background: #f8f9fa;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand-custom {
  font-size: 2.25rem;
  color: #00a36c;
  text-transform: initial;
  margin-right: 1rem;
}
.navbar-brand-custom .fas.fa-seedling {
  margin-left: 0.5rem;
}

a.btn.signup-button {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
  border-radius: 500px;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  background: #00a36c;
  color: #fff !important;
}
a.btn.cart-button {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
  border-radius: 500px;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  background: #fff;
  color: #212529 !important;
}

/* SIGN UP FORM */
.sign-up-form .btn-primary {
  width: 100%;
  background-color: #00a36c;
}
